
*{
    margin:0;
    padding:0;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
html {
    height: 100%;
}
body main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

    body main .left-content {
        flex: 2;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: sticky;
        top: 20px;
    }
            body main .left-content .menu-items-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding-top: 80px;
            }


                body main .left-content .menu-items-container .menu-item {
                    width: 285px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    color: white;
                    font-weight: bold;
                    margin-bottom: 20px;
                    border-radius: 22px;
                    padding: 12px;
                    padding-left: 22px;
                    height: 24px;
                    transition:all 1s;
                }
    body main .left-content .menu-items-container .menu-item:hover {
        background: rgba(143,5,20, 0.4);
    }

body main .left-content .menu-items-container .menu-item svg {
    height: 40px;
    width: 55px;
}
                    body main .left-content .menu-items-container .menu-item:hover{

                    }
                    body main .left-content .menu-items-container .menu-item:hover a {
                        color: black;
                    }
                    body main .left-content .menu-items-container .menu-item:hover svg .svg-color {
                        fill: white;
                        stroke: rgba(143,5,20, 0.8);
                    }



                        body main .menu-item {
                            cursor: pointer;
                        }
    body main .left-content .menu-items-container .menu-item a {
        font-size: 1.5em;
        font-family: 'Open sans';
        font-weight: 600;
        color: black;
        margin-left: 8px;
        text-decoration: none;
        font-size: 24px;
    }
        body main .left-content .menu-items-container .menu-item a:hover {
            color: rgba(143,5,20, 0.8);
        } 
       
        body main .left-content .menu-items-container .menu-item-icon .icon {
            fill: rgba(143,5,20, 0.8);
        }


        body main .center-content {
            flex: 2;
            height: 100%;
            border-left: solid 1px rgba(143,5,20, 0.2);
            border-right: solid 1px rgba(143,5,20, 0.2);
        }
            body main .center-content .create-post-container {
                height: max-content;
                border-bottom: solid 1px rgba(143,5,20, 0.2);
                padding: 50px;
                padding-bottom: 25px;
                padding-top: 25px;
            }

            body main .center-content .create-post-container {
                height: max-content;
                border-bottom: solid 1px rgba(143,5,20, 0.2);
                padding: 50px;
                padding-bottom: 25px;
                padding-top: 25px;
            }


body main .center-content .create-post-container .user-image-and-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}
                body main .center-content .create-post-container .post-container .post-card .user-image-and-name .post-image {
                    width: 100%;
                    object-fit: cover;
                }
                    body main .center-content .create-post-container  form {
                        display: flex;
                        flex-direction: column;
                    }
                body main .center-content .create-post-container form .publish-button {
                    align-self: flex-end;
                    background: rgba(143,5,20, 0.8);
                    color: white;
                    font-family: 'Poppins';
                    font-size: 0.9rem;
                    height: 30px;
                    width: 150px;
                    border-radius: 22px;
                    border: none;
                    cursor: pointer;
                }

                    body main .center-content .create-post-container .user-image-and-name img {
                      
                        height: 50px;
                        width: 52px;
                        object-fit: cover;
                        border-radius: 53px;
                    }
                    body main .center-content .create-post-container .user-image-and-name span {
                        font-family: 'Poppins', light;
                        color: rgb(92, 92, 92);
                        margin-left: 14px;
                    }
                        body main .right-content {
                            height: 100%;
                            flex: 2;
                        }



            body main .center-content .create-post-container .input-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                height: max-content;
                margin-top: 11px;
            }
            body main .center-content .create-post-container .input-container textarea {
                width: 100%;
                height: 50px;
                border: none;
                resize: none;
                padding: 10px;
                font-family: 'Poppins', light;
                font-weight:600;
            }
            body main .center-content .create-post-container .input-container textarea:focus {
               outline:none;
            }

        body main .center-content .post-container {
            margin-top: 35px;
        }
            body main .center-content .post-container .post-card {
                border-bottom: solid 1px rgba(143,5,20, 0.2);
                border-top: solid 1px rgba(143,5,20, 0.2);
            }
            body main .center-content .post-container .post-card .user-image-and-name {
                
                padding: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
                body main .center-content .post-container .post-card .user-image-and-name img {
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                    border-radius: 31px;
              
            }

                body main .center-content .post-container .post-card .user-image-and-name span {
                    margin-left: 15px;
                    font-size: 1.2rem;
                    font-family: 'Poppins', light;
                    color: rgb(92, 92, 92);
                   
                }
                body main .center-content .post-container .post-card .description{

                }
                    body main .center-content .post-container .post-card .description p {
                        padding: 20px;
                    }

        body main .center-content .new-comment {
            padding: 21px;
            background: #edf1f6;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            height: 210px;
        }
        body main .center-content .reply {
            padding-left: 80px;
        }
            body main .center-content .new-comment form {
                background: white;
                /* padding: 20px; */
                display: flex;
                flex-direction: column;
                width: 78%;
                height: max-content;
                min-height: 154px;
                padding: 17px;
                justify-content: space-between;
                /* align-self: flex-end; */
                border-radius: 17px;
                margin-left: 13px;
            }
        body main .center-content .new-comment img {
            height: 61px;
            border-radius: 35px;
            object-fit: cover;
        }

            body main .center-content .new-comment form span {
                font-size: 1.1rem;
                margin-bottom: 7px;
                font-family:'Open sans';
            }
            body main .center-content .new-comment form textarea {
                resize: none;
                border: none;
                margin: 0px;
                height: 115px;
                width: 430px;
            }
    body main .center-content .new-comment form p {
        margin: 0px;
        height: 115px;
        width: 430px;
        font-family: "Open sans";
        word-break: break-all;
        font-weight: bold;
    }
                body main .center-content .new-comment form textarea:focus{
                    outline:none;
                }
                body main .center-content .new-comment form button {
                    align-self: flex-end;
                    background: rgba(143,5,20, 0.8);
                    color: white;
                    font-family: 'Poppins';
                    font-size: 0.9rem;
                    height: 30px;
                    width: 150px;
                    border-radius: 22px;
                    border: none;
                    cursor: pointer;
                    margin-top: 15px;
                }



    body main .right-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 18px;
    }
        body main .right-content .big-release {
            padding: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            body main .right-content .big-release img {
                height: 267px;
                width: 550px;
                object-fit: cover;
                /* display: flex; */
                /* flex-direction: row; */
                /* align-items: center; */
                /* justify-content: center; */
                border-radius: 6px;
            }
            body main .right-content .big-release h3 {
                margin-top: -39px;
                margin-bottom: 30px;
                align-items: center;
                color: white;
                font-size: 24px;
                background: rgba(0,0,0,0.6);
                width: 550px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                height: 39px;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                font-family: 'Open sans';
                font-weight: bold;
            }
        body main .right-content .small-releases {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            /* width: 550px; */
            width: 100%;
            border-bottom: solid 1px rgba(143,5,20, 0.2);
            /* padding-left: 20px; */
            padding-top: 33px;
        }




            body main .right-content .small-releases h3 {
                margin-bottom: 30px;
                color: rgba(143,5,20, 0.8);
                font-size: 18px;
                /* background: rgba(0,0,0,0.6); */
                /* width: 550px; */
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                height: 39px;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                width: 100%;
                align-items: center;
                margin-right: 10px;
                font-family: 'Open sans';
                font-weight: bold;
                padding-left: 20px;
                padding-right: 20px;
            }
            body main .right-content .small-releases a {
                width: 100%;
                /* border-bottom: solid 1px rgba(143,5,20, 0.2); */
                margin-bottom: 20px;
                /* padding-bottom: 20px; */
                padding-left: 20px;
                padding-right: 20px;
                color: rgb(112, 112, 112);
                text-decoration: none;
                width: 428px;
            }

            body main .right-content .small-releases .photo-and-link {
                display: flex;
                flex-direction: row;
                padding-bottom: 35px;
            }

                body main .right-content .small-releases .photo-and-link img {
                    height: 106px;
                    border-radius: 8px;
                    width: 190px;
                    object-fit: cover;
                }
body main .right-content .small-releases a:hover{
    text-decoration:underline;
}




               
