
<!DOCTYPE html>
<html>

<head>
    <title>Social Media</title>
    <link type="text/css" rel="stylesheet" href="~/css/HomePage.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
</head>

<body>

    <main>
        <div class="left-content">
            <div class="menu-items-container">
                <div class="menu-item">

                    <span>Grupos</span>
                </div>

                <div class="menu-item">



                    <span>Meu perfil</span>
                </div>
                <div class="menu-item">



                    <span type="button" href="/Groups">Grupos</span>
                </div>
            </div>


        </div>

        <div class="center-content">
            <div class="create-post-container">
                <div class="user-image-and-name">
                    <img src="~/assets/will.jpg" />
                    <span>Adenor alberto</span>
                </div>
                <form>
                    <div class="input-container">
                        <textarea placeholder="O que está acontecendo?"></textarea>

                    </div>

                    <button type="submit" class="publish-button">Publicar</button>
                </form>

            </div>
            <div class="post-container">


            </div>


            </div>
        </div>
        <div class="right-content">

        </div>
    </main>
</body>

</html>